*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}


a{
    color: #191919;
}

html{
    font-size: 62.5%;
}

$main-color : #FAF1E6;
$second-color :#FDFAF6;
$third-color : #E4EFE7;
$fourth-color: #064420;

$white-color : #ffff;
$balck-color : #191919;

$hight-nav : 6rem;

::selection{
    color: $second-color;
    background-color: #064420;
}

@mixin button ($width,$height){
    border-radius: 2rem;
    width: $width;
    height: $height;
    
}

@mixin input-field($width,$height){
    border-radius: 20px;
    height: $height;
    width: $width;
}




