// ----------------- PC ---------------------
@media (min-width : 1024px){
    
    html{
        font-size: 62.5%;
    }

    .menu-bnt{
        display: none;
    }

    .input-number{
        width: 10.3rem;
    }
    .input-date{
        width: 20.7rem;
    }
    .btn-search{
        @include button (19.7rem,5.2rem);   
        border: 0.4rem solid $balck-color;            
    }
}
// ----------------- PC ---------------------


// ----------------- IPAD ---------------------
@media (min-width : 740px) and (max-width : 1023px)
{
    
    html{
        font-size: 55.5%;
    }

    header{
        nav{

            .nav-item{
                position: absolute;
                left: 0;
                right: 0;
                top: 99%;               
                background-color: $second-color;
                clip-path: polygon(0 0, 0 0, 100% 0);
        
                    &.active{
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                    }
                
                .nav-list{
                    display: block;
                    margin: 2rem;
                }
            }
        
            .nav-bnt{
                display: inherit;
    
            }
        }
    }
    .slider{

        .input-number{
            width: 10.3rem;
        }
        .input-date{
            width: 20.7rem;
        }
        .btn-search{
            @include button (19.7rem,5.2rem);   
                     
        }
    }

}
// ----------------- IPAD ---------------------

// ----------------- MOBILE ---------------------
@media (max-width : 739px){
    
    html{
        font-size: 50%;
    }

    header {

        nav{

            .nav-item{
                position: absolute;
                left: 0;
                right: 0;
                top: 99%;
                background-color: $second-color;
                clip-path: polygon(0 0, 0 0, 100% 0);
        
                &.active{
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                }
        
                .nav-list{
                    display: block;
                    margin: 2rem;
        
                }
            }
            .nav-bnt{
                display: inherit; 
                
                .bnt{
                    margin:0 .5rem;
                }
               
            }
        }     
    }

    .slider{

        .input-number{
            width: 100%;
        }
        .input-date{
            width: 100%;
        }
        .btn-search{
            @include button (100%,5.2rem);   
                    
        }
        .form-item{
            margin-bottom: 2rem;
        }
    }


}
// ----------------- MOBILE ---------------------